              <!-- Sidebar (le widget) -->
            <div class="col-3">

                <!-- Code du widget -->
                <div id="widget">

                    <!-- Si ville sélectionnée -->
                    <p><b>{{choosenCity.city}}</b></p>
                    <p>{{choosenCity.date}}</p>
                    <p><img src="images/{{choosenCity.weather}}.png"></p>
                    <p>{{choosenCity.min}}°C / {{choosenCity.max}}°C</p>

                    <!-- Si ville non sélectionnée -->
                    <div>Sélectionnez une ville<br>dans la liste de gauche <br> sur l'accueil</div>

                </div>

            </div>