{% extends 'base.html.twig' %}

{% block body %}

        <!-- Content (les pages) -->
            <div class="col-9">

                <h1 class="mb-5">Bienvenue sur la météo des villes !</h1>
            {% for city_id, current_city in cities %}

                <div class="item item--bg-{{current_city.weather}}">
                    <div class="item--city"><a href="{{path ('cityAdd', {id: city_id})}}">{{current_city.city}}</a></div>
                    <div class="item--forecast">{{current_city.date|date("d-m")}} : {{current_city.min}} / {{current_city.max}}</div>
                </div>
            {% endfor %}


            </div>

{% endblock %}